@import "../../style/variables.scss";

.nav {
  padding: 10px 10px 0px 10px;

  color: white;
  background-color: $sidebar;
  border-bottom: 1px solid $primary;

  box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 30px 0px;
}
