@import "../../style/variables.scss";

.loading {
  margin-left: auto;
  margin-right: auto;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;

  width: 4rem;
  min-width: 4rem;
  height: 4rem;
  min-height: 4rem;
  border-radius: 50%;

  color: transparent;

  //   border
  border-top: 0.5rem solid $primary;
  border-bottom: 0.5rem solid $sidebar;
  border-left: 0.5rem solid $secondary;
  border-right: 0.5rem solid transparent;

  animation: spin 2s linear infinite;
}

// for animation
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
